

@import "mixins";

/*
	Reference Styling
*/

#useful-categories-form {
	margin : 0 0 1.3em 0;
	padding : 0;
	fieldset {
		margin : 0;
		padding : 0;
		border : none;
		legend {}
		label {
			display : block;
			select {
				display : block;
				margin : 5px 0;
				width : 100%;
				height : auto;
			}
		}
	}
}

#useful-categories-list {
	margin : 0 0 1.3em 0;
	padding : 0;
	li {
		transition-property : transform;
		transition-duration : 500ms;
		display : inline-block;
		margin : 0 -0.3em 0 0;
		padding : 0;
		vertical-align : middle;
		width : 33.3%;
		img {
			vertical-align : middle;
			width : 100%;
			height : auto;
		}
	}
	.categories-show {
		position : static;
		transform : scale(1);
	}
	.categories-hide {
		position : absolute;
		transform : scale(0);
	}
}
